
  body{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items:center;
  }


.boxes{
  display: grid;
  grid-template-columns: repeat(3,250px);
  grid-template-rows: repeat(3,250px);
  grid-gap:5px;
  list-style: none;
}
.boxes li{
  background: black;
  color:white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item1{ grid-column: 1/2; grid-row: 1/2;}
.item2{ grid-column: 2/3; grid-row: 1/2;}
.item3{ grid-column: 3/4; grid-row: 1/2;}

.item4{ grid-column: 1/2; grid-row: 2/3;}
.item5{ grid-column: 2/3; grid-row: 2/3;}
.item6{ grid-column: 3/4; grid-row: 2/3;}

.item7{ grid-column: 1/2; grid-row: 3/4;}
.item8{ grid-column: 2/3; grid-row: 3/4;}
.item9{ grid-column: 3/4; grid-row: 3/4;}
button{
  width:400px;
  height:50px;
  font-size: 20px;
}
button:hover{
  background: rgba(0,0,0,0.7);
  color:white;
}
